<div class="d-flex justify-content-between header-container">
    <div class="row w-100 logo-search-container">
        <div class="col-2 bd-highlight">
            <img src="../../../assets/logo.png" alt="" width="200px" height="60px">
        </div>
        <div class="col-10 loc-search">
            <app-loc-search></app-loc-search>
        </div>
    </div>
    <div *ngIf="!isLoggedIn" class="col-2 p-2 btn-container">
        <div class="btn-group d-flex justify-content-between">
            <button type="button" class="btn btn-outline-success" (click)="handleLogin()">Login</button>
            <button type="button" class="btn btn-outline-success" (click)="handleSignUp()">Sign Up</button>
        </div>
    </div>
    <div *ngIf="isLoggedIn" class="col-2 p-2 btn-container">
        
        <div class="btn-group d-flex justify-content-between">
            <ng-template #popTitle>User Profile</ng-template>
            <ng-template #popContent let-detail="details">
                <ng-container *ngFor="let profileInfo of profileDetails | keyvalue">
                    <div>
                        <strong>{{profileInfo.key}}</strong>: {{profileInfo.value}} 
                    </div>
                </ng-container>
            </ng-template>
            <button
                type="button"
                class="btn btn-warning me-2"
                placement="bottom"
                triggers="manual" 
                #popOverRef="ngbPopover" 
                [ngbPopover]="popContent"
                (click)="togglePopOver(popOverRef)"
                [popoverTitle]="popTitle">
                Profile</button>
            <button type="button" class="btn btn-outline-danger" (click)="handleLogout()">Logout</button>
        </div>
    </div>
</div>