<div class="d-flex justify-content-between header-container">
    <div class="row w-100 logo-search-container">
        <div class="col-2 bd-highlight">
            <img src="../../../assets/logo.png" alt="" width="200px" height="60px">
        </div>
        <div class="col-10 loc-search">
            <app-loc-search></app-loc-search>
        </div>
    </div>
    <div class="col-2 p-2 btn-container">
        <div class="btn-group d-flex justify-content-between">
            <button type="button" class="btn btn-outline-success">Login</button>
            <button type="button" class="btn btn-outline-success" (click)="handleSignUp()">Sign Up</button>
        </div>
    </div>
</div>