section .title, .no-data {
  font-size: 2rem;
}

@media screen and (max-width : 908px) {
  
  section .title, .no-data {
    font-size: 1.5rem;
  }

  .card .card-body {
    justify-content: center;
  }

  .button-container {
    justify-content: center !important;
  }
}

@media screen and (max-width : 658px) {

  section .title, .no-data {
    font-size: 1.3rem;
  }
}

@media screen and (max-width : 525px) {
  .no-data {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  section .title  {
    font-size: 1.1rem;
  }
}