<div class="d-flex flex-fill">
    <div class="p-2 w-50 input-group">
        <form class="search-form" [formGroup]="searchForm">
            <mat-form-field class="search-full-width" appearance="outline">
                <input type="text" placeholder="Select Location" matInput [matAutocomplete]="auto"
                    formControlName="currentAddress" (input)="search()">
                <mat-autocomplete #auto="matAutocomplete">
                    <ng-container *ngIf="finalAddresses.length > 0">
                        <mat-option *ngFor="let address of finalAddresses" [value]="address['addr']">
                            {{address.addr}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <div class="p-2">
            <button type="button" class="btn btn-outline-danger" (click)="handleCurrentLocation()">Use Current
                Location</button>
        </div>
    </div>
</div>