<div class="d-flex">
    <div class="p-2 w-50 flex-fill input-group">
        <form class="search-form">
            <mat-form-field class="search-full-width" appearance="outline">
                <input type="text"
                       placeholder="Select Location"
                       matInput
                       #searchBox
                       (input)="search(searchBox.value)"
                       [matAutocomplete]="auto">
                       <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let addr of finalAddresses" [value]="addr">
                            {{addr | json}}
                        </mat-option>
                       </mat-autocomplete>
            </mat-form-field>
        </form>
        <div class="p-2">
            <button type="button" class="btn btn-outline-danger">Use Current Location</button>
        </div>
    </div>
</div>