.catalog-height {
  height: 125px;
  margin: 10px;
}

.catalog-info {
  width: 300px;
}

.catalog-info img {
  height: 123px;
  width: 125px;
}

.catalog-attributes {
  margin: 10px 0px;
}

.catalog-attributes span {
  margin: 0px 5px;
}

@media screen and (max-width: 1396px) {

  .catalog-height {
    height: 275px;
  }

  .catalog-info {
    flex-direction: column;
    text-align: center;
  }

  .catalog-info img {
    width: 50%;
    margin: 10px auto;
  }  
}

@media screen and (max-width: 908px) {

  section .title {
    font-size: 1.5rem;
  }


  .catalog-info .item-details div span {
    margin: 5px auto;
  }
}

@media screen and (max-width: 658px) {

  section .title {
    font-size: 1.3rem;
  }

  .catalog-height {
    margin: 10px auto;
  }

  .catalog-info img {
    width: 25%;
  }
}

@media screen and (max-width: 500px) {

  section .title {
    font-size: 0.9rem;
  }

  .catalog-height {
    width: 100%;
    margin: 10px 0px;
  }
}