<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center limage">
            <img src="../../../../../assets/court-1.jpeg"/>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <dl class="row">
                <h3>Basketball Court</h3>
                <h5>city, country</h5>
                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">address</dd>
              
                <dt class="col-sm-3">location</dt>
                <dd class="col-sm-9">
                    lat-lon
                </dd>
              
                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9">345-82832-92392</dd>
              
                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                <!-- <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option>One fish</mat-chip-option>
                    <mat-chip-option>Two fish</mat-chip-option>
                    <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
                    <mat-chip-option color="warn">Warn fish</mat-chip-option>
                </mat-chip-listbox> -->
            </dl>
        </div>
    </div>
</div>