<div class="container-fluid">
   
    <div class="row detailed-view">

        <div class="court-img col-md-6 m-auto">
            <img src="../../../../../assets/court-1.jpeg" height="250px" class="m-auto d-block"/>
        </div>

        <div class="court-view col-md-6" *ngIf="isFetched">

            <div class="row mt-2">
                <h2 class="text-center"> {{ courtDetails.name }} </h2>
                <h6 class="text-muted text-center"> {{ courtDetails.mainLocation }} </h6>

                <div class="court-details">

                    <div class="address mb-2">
                        <span>Address:</span>
                        <span>{{ courtDetails.formattedAddress }}</span>
                    </div>

                    <div class="phone">
                        <span>Phone:</span>
                        <span>{{ courtDetails.phone }}</span>
                    </div>

                    <div class="current-rating mb-3">
                        <span>Current Rating: </span>
                        <span>
                            <ngb-rating [(rate)]="courtDetails.rating" [max]="5">
                            </ngb-rating>
                        </span>
                    </div>

                    <div class="user-rating mb-3">
                        <span>Your Rating: </span>
                        <span>
                            <ngb-rating [(rate)]="userRating" (rateChange)="handleUserRating()" [max]="5">
                            </ngb-rating>
                        </span>
                        <!-- <ngb-rating [(rate)]="rating" (rateChange)="setRating()" [max]="5">
                        </ngb-rating> -->
                    </div>

                    <div class="slots">
                        <span>Available Slots: </span>
                        
                        <mat-chip-list class="chips" multiple="false">
                            <mat-chip *ngFor="let slot of slots" 
                                [selected]="slot.selected" 
                                (click)="handleSlotSelection(slot)">
                                {{ slot.altTime_start }} - {{ slot.altTime_end }} {{ slot.timeOfTheDay }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>

                <div class="mt-3 d-flex justify-content-center" *ngIf="isLoggedIn">
                    <button type="submit" class="btn btn-warning">Book Slot</button>
                </div>
            </div>
        </div>
    </div>
</div>